body {

    background-color: #99edcc;

    display: flex;

    flex-direction: column;

    align-items: center;

}

table,th,td {

    width:500px;

    margin:auto;

    font-size: large;

    padding: 10px;

    text-align: center;

    border: 1px solid;

    border-color: rgb(129, 55, 198);

    background-color: rgb(255, 249, 196);

}
